* {

margin: 0;
padding: 0;
user-select: none;
box-sizing: border-box;
font-family: 'Poppins', sans-serif;

}


.alert {
min-width: 420px;
padding: 20px 40px;
background: green;
position: absolute;
right: 0px;
top: 10px;
border-radius: 4px;
border-left: 6px solid darkgreen;
}

.alert .fa-exclamation-circle {
position: absolute;
left: 20px;
top: 50%;
transform: translateY(-50%);
color: white;
font-size: 30px;
}


.alert .msg {

color: white;    
padding: 0 20px;
font-size: 180px;


}
